<div class="jumbotron-fluid">
  <div class="bkRGBA">
    <div class="container">
      <h1>さあ、スタジオを探そう</h1>
      <p>スタサーチはエリアや特徴からスタジオを探すことができます。</p>
      <%= search_form_for(@q, html: { class: '' }, url:studios_path) do |f| %>
        <div class="form-row">
          <div class="col-sm-8 offset-sm-2 input-group">
            <%= f.search_field :accesses_name_or_accesses_line_cont, class:"form-control", placeholder:"路線名・駅名" %>
            <%= f.search_field :name_or_address_cont, class:"form-control", placeholder:"スタジオ名" %>
            <span class="input-group-btn">
          		<button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-tags"></i></button>
          	</span>
          	<%= f.submit "検索", class:"btn btn-primary" %>
          </div>
        </div>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <div class="text-center form-check">
            　<%= f.collection_check_boxes :hash_tags_id_in, @q_hash_tags, :id, :tag %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container area_container">
  <h2>エリアから探す</h2>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <%= link_to studios_path(q: { name_or_address_cont: "新宿" }), class: "card area-card h-100" do %>
        <%= image_tag "shinjuku.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h3>新宿</h3>
        </div>
      <% end %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to studios_path(q: { name_or_address_cont: "渋谷" }), class: "card area-card h-100" do %>
        <%= image_tag "shibuya.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h3>渋谷</h3>
        </div>
      <% end %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to studios_path(q: { name_or_address_cont: "池袋" }), class: "card area-card h-100" do %>
        <%= image_tag "ikebukuro.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h3>池袋</h3>
        </div>
      <% end %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to studios_path(q: { name_or_address_cont: "秋葉原" }), class: "card area-card h-100" do %>
        <%= image_tag "akihabara.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h3>秋葉原</h3>
        </div>
      <% end %>
    </div>
  </div>
  
  <h2>新着スタジオ</h2>
  <div class="row">
  <% @new_studios.each do |studio| %>
    <div class="col-sm-12 col-md-3">
      <div class="card img-thumbnail h-100">
        <%= image_tag studio.image.url, class:"card-img-top", size:"300x250" %>
        <div class="card-body px-2 py-3">
          <h5 class="card-title"><%= link_to studio.name, studio_path(studio) %></h5>
          <small class="small-block"><i class="fas fa-map-marker-alt"></i> <cite title="<%= studio.address %>"><%= studio.address %> </small>
          <small class="small-block"><i class="fas fa-subway"></i><%= access_info(studio.accesses) %></small>
          <small class="small-block"><i class="far fa-clock"></i><%= studio.opening_hours %></small>
          <small class="small-block"><i class="fas fa-yen-sign"></i><%= studio.weekday_fee&.fee %></small>
          <div class="star-review" data-score="<%= rating(studio.reviews) %>"></div>
          <div class="score-review"><%= rating(studio.reviews) %></div>
          <p class="count-review"><i class="fa fa-comments"></i> <%= studio.reviews.count %></p>
          <p class="hash_tags"><i class="fas fa-tags"></i> 
            <% studio.hash_tags.each do |hash_tag| %>
              <%= hash_tag.tag %>
            <% end %>
          </p>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col-sm-6.col-md-3 -->
  <% end %>
  </div><!-- /.row -->
</div>
  
<script>
$('.star-review').raty({
  path: '/assets/',
  readOnly: true,
  score: function() {
          return $(this).attr('data-score');
        }
});
</script>