<div class="jumbotron-fluid">
  <div class="bkRGBA">
    <div class="container">
      <h1>さあ、スタジオを探そう</h1>
      <p>スタサーチはエリアや特徴からスタジオを探すことができます。</p>
      
      <%= search_form_for(@q, html: { class: '' }, url:search_path) do |f| %>
        <div class="form-row">
          <div class="col-sm-7 offset-sm-2">
          <%= f.search_field :name_or_address_cont, class:"form-control", placeholder:"新宿　サンプルスタジオ" %>
          </div>
          <div class="col-sm-1">
          <%= f.submit "検索", class:"btn btn-primary" %>
          </div>
        </div>
        <div class="text-center form-check">
        　<%= f.collection_check_boxes :hash_tags_id_in, @hash_tags, :id, :tag %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>

<div class="container area_container">
  <h2>エリアから探す</h2>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <%= link_to studios_path(search_area: 1), class: "card area-card h-100" do %>
        <%= image_tag "shinjuku.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h3>新宿</h3>
          <p>新宿駅、代々木駅、などなど…</p>
        </div>
      <% end %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to studios_path(search_area: 2), class: "card area-card h-100" do %>
        <%= image_tag "shibuya.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h3>渋谷</h3>
          <p>渋谷駅、原宿駅、などなど…</p>
        </div>
      <% end %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to studios_path(search_area: 3), class: "card area-card h-100" do %>
        <%= image_tag "ikebukuro.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h3>池袋</h3>
          <p>池袋駅、大塚駅、などなど…</p>
        </div>
      <% end %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to studios_path(search_area: 4), class: "card area-card h-100" do %>  
        <%= image_tag "akihabara.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h3>秋葉原</h3>
          <p>秋葉原駅、お茶の水駅、などなど…</p>
        </div>
      <% end %>
    </div>
  </div>
  
  <h2>新着スタジオ</h2>
  <div class="row">
  <% @new_studios.each do |studio| %>
    <div class="col-sm-12 col-md-3">
      <div class="card img-thumbnail h-100">
        <% if studio.image? %>
          <%#= image_tag studio.image.url, class:"card-img-top" %>
          <%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{studio.image}&key=#{ENV['GOOGLEMAPS_HTTP_KEY']}" %>
        <% else %>
          <%= image_tag "default-studio-icon.jpeg", class:"card-img-top" %>
        <% end %>
        <div class="card-body px-2 py-3">
          <h5 class="card-title"><%= link_to studio.name, studio_path(studio) %></h5>
          <p class="card-text">
            <% studio.hash_tags.each do |hash_tag| %>
              <%= hash_tag.tag %>
            <% end %>
          </p>
          <small><i class="fas fa-map-marker-alt"></i><cite title="<%= studio.address %>"><%= studio.address %> </small>
          <i class="fas fa-phone"></i> <%= studio.telno %>
          <br />
          <i class="fas fa-globe-europe"></i> <a href="<%= studio.url %>"><%= studio.url %></a>
          <br />
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col-sm-6.col-md-3 -->
  <% end %>
  </div><!-- /.row -->
</div>
  