<div class="jumbotron-fluid">
  <div class="bkRGBA">
    <div class="container">
      <h1>さあ、スタジオを探そう</h1>
      <p>スタサーチはエリアや特徴からスタジオを探すことができます。</p>
      <%= form_tag(studios_path, method: 'get') do %>
        <div class="form row justify-content-center">
          <div class="col-2">
          </div>
          <div class="col-6">
            <%= text_field_tag :search_name, '', class: "form-control mb-2", placeholder: "スタジオ名" %>
          </div>
          <div class="col-2">
            <%= submit_tag "検索", class:"btn btn-primary mb-2" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container area_container">
  <h2>エリアから探す</h2>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <%= link_to studios_path(search_area: 1), class: "card area-card h-100" do %>
        <%= image_tag "shinjuku.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h3>新宿</h3>
          <p>新宿駅、代々木駅、などなど…</p>
        </div>
      <% end %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to studios_path(search_area: 2), class: "card area-card h-100" do %>
        <%= image_tag "shibuya.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h3>渋谷</h3>
          <p>渋谷駅、原宿駅、などなど…</p>
        </div>
      <% end %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to studios_path(search_area: 3), class: "card area-card h-100" do %>
        <%= image_tag "ikebukuro.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h3>池袋</h3>
          <p>池袋駅、大塚駅、などなど…</p>
        </div>
      <% end %>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= link_to studios_path(search_area: 4), class: "card area-card h-100" do %>  
        <%= image_tag "akihabara.jpg", class: "card-img-top" %>
        <div class="card-body">
          <h3>秋葉原</h3>
          <p>秋葉原駅、お茶の水駅、などなど…</p>
        </div>
      <% end %>
    </div>
  </div>
  
  <h2>新着スタジオ</h2>
  <div class="row">
  <% @studios.each do |studio| %>
    <div class="col-sm-12 col-md-3">
      <div class="card img-thumbnail h-100">
        <% if studio.image? %>
          <%= image_tag studio.image.url, class:"card-img-top" %>
        <% else %>
          <%= image_tag "default-studio-icon.jpeg", class:"card-img-top" %>
        <% end %>
        <div class="card-body px-2 py-3">
          <h5 class="card-title"><%= link_to studio.name, studio_path(studio) %></h5>
          <p class="card-text">
            <% studio.hash_tags.each do |hash_tag| %>
              <%= hash_tag.tag %>
            <% end %>
          </p>
          <small><i class="fas fa-map-marker-alt"></i><cite title="<%= studio.address %>"><%= studio.address %> </small>
          <i class="fas fa-phone"></i> <%= studio.telno %>
          <br />
          <i class="fas fa-globe-europe"></i> <a href="<%= studio.url %>"><%= studio.url %></a>
          <br />
          <% if logged_in? %>
            <% if favorite = Favorite.find_by(user_id: current_user.id, studio_id: studio.id) %>
              <%= link_to(favorite_path(favorite.id), method: :delete) do %>
                <button type="button" class="btn btn-secondary">
                  お気に入りから削除
                </button>
              <% end %>
            <% else %>
              <%= form_for(@favorite) do |f| %>
                <%= hidden_field_tag :studio_id, studio.id %>
                <%= f.submit "お気に入りへ追加", class:"btn btn-primary" %>
              <% end %>
            <% end %>
          <% end %>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col-sm-6.col-md-3 -->
  <% end %>
  </div><!-- /.row -->
</div>
  