<% content_for(:html_title) { 'ユーザーページ' } %>

<div class="container user_show_container">
  <div class="row">
    <aside class="col-md-3">
      <%= image_tag @user.image.thumb.url, class:"review-icon", size:"100x100" %>
      <h3><%= @user.name %></h3>
      <%= link_to "プロフィール編集", edit_user_path(@user) %> | <%= link_to "退会する", user_path, method: :delete %>
    </aside>
    
    <div class="col-md-9">
      <h3>お気に入り</h3>
        <div class="row">
          <% @studios.each do |studio| %>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card img-thumbnail h-100">
              <%= image_tag studio.image.url, class:"card-img-top", size:"300x250" %>
              <div class="card-body px-2 py-3">
                <h5 class="card-title"><%= link_to studio.name, studio_path(studio) %></h5>
                <small class="small-block"><i class="fas fa-map-marker-alt"></i> <cite title="<%= studio.address %>"><%= studio.address %> </small>
                <small class="small-block"><i class="fas fa-subway"></i> </td><td><%= studio.access&.name %></small>
                <div class="star-review" data-score="<%= rating(studio.reviews) %>"></div>
                <div class="score-review"><%= rating(studio.reviews) %></div>
                <p class="count-review"><i class="fa fa-comments"></i> <%= studio.reviews.count %></p>
                <p class="hash_tags"><i class="fas fa-tags"></i> 
                  <% studio.hash_tags.each do |hash_tag| %>
                    <%= hash_tag.tag %>
                  <% end %>
                </p>
              </div><!-- /.card-body -->
            </div><!-- /.card -->
          </div><!-- /.col-sm-6.col-md-3 -->
        <% end %>
        
      </div><!-- /.row -->
        <%= will_paginate(@studios, class: "pagination justify-content-center", 
                              renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
    </div>
  </div>
</div>




