<div class="container user_show_container">
  <div class="row">
    <aside class="col-md-4">
      <%= image_tag @user.image.thumb150.url class: "icon-image" %>
      <h3><%= @user.name %></h3>
      <%= link_to "プロフィール編集", edit_user_path(@user) %> | <%= link_to "退会する", user_path, method: :delete %>
    </aside>
    
    <div class="col-md-8">
      <h3>行った！一覧</h3>
      <div class="text-right"><%= link_to "スタジオを投稿する", new_studio_path %></div>
    </div>
  </div>
</div>