<% content_for(:html_title) { 'レビュー投稿' } %>
<div class="container">

<h1>レビュー投稿</h1>
<%= render "error_messages" %>

<%= form_for [@review] do |f| %>
  <div class="form-group">
    <%= f.label :タイトル %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  
  <div class="field" id="rate">
    <%= f.label :評価 %>
    <%= f.hidden_field :rate, id: :review_rate %>
  </div>

  <div class="form-group">
    <%= f.label :口コミ内容 %>
    <%= f.text_area :review, class: "form-control" %>
  </div>
  <%= hidden_field_tag :studio_id, params[:studio_id] %>
  <%= f.submit "送信", class: "btn btn-primary" %>
<% end %>
</div>


<script>
$('#rate').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  scoreName: 'review[rate]' 
});
</script>
