<div class="container">
<h1>レビュー投稿</h1>
<%= form_for(@review) do |f| %>
  <div class="form-group">
    <%= f.label :口コミ内容 %>
    <%= f.text_area :review, class: "form-control" %>
  </div>
  <%= hidden_field_tag :studio_id, params[:studio_id] %>
  <%= f.submit "送信", class: "btn btn-primary" %>
<% end %>
</div>
