<div class="container index-container">

<div class="row">
  <% @studios.each do |studio| %>
  <div class="col-sm-12 col-md-4">
    <div class="card img-thumbnail h-100">
      <% if studio.image? %>
        <%= image_tag studio.image.url, class:"card-img-top" %>
      <% else %>
        <%= image_tag "default-studio-icon.jpeg", class:"card-img-top" %>
      <% end %>
      <div class="card-body px-2 py-3">
        <h5 class="card-title"><%= link_to studio.name, studio_path(studio) %></h5>
        <p class="card-text">
          <% studio.hash_tags.each do |hash_tag| %>
            <%= hash_tag.tag %>
          <% end %>
        </p>
        <small><i class="fas fa-map-marker-alt"></i><cite title="<%= studio.address %>"><%= studio.address %> </small>
        <i class="fas fa-phone"></i> <%= studio.telno %>
        <br />
        <i class="fas fa-globe-europe"></i> <a href="<%= studio.url %>"><%= studio.url %></a>
        <br />
        <% if favorite = Favorite.find_by(user_id: current_user.id, studio_id: studio.id) %>
          <%= link_to(favorite_path(favorite.id), method: :delete) do %>
            <button type="button" class="btn btn-secondary">
              お気に入りから削除
            </button>
          <% end %>
        <% else %>
          <%= form_for(@favorite) do |f| %>
            <%= hidden_field_tag :studio_id, studio.id %>
            <%= f.submit "お気に入りへ追加", class:"btn btn-primary" %>
          <% end %>
        <% end %>

      </div><!-- /.card-body -->
    </div><!-- /.card -->
  </div><!-- /.col-sm-6.col-md-3 -->
<% end %>
</div><!-- /.row -->
</div>