<div class="container index-container">
  <div class="search-number-container">
    <p class="search-number"><%= show_current_number(@studios.current_page,@studios.size) %>件を表示 ／ 全<%= @studios.total_entries %>件</p>
  </div>
  <div class="row">
    <% @studios.each do |studio| %>
    <div class="col-sm-12 col-md-4">
      <div class="card img-thumbnail h-100">
        <% if studio.image? %>
          <%= image_tag studio.image.url, class:"card-img-top" %>
        <% else %>
          <%= image_tag "default-studio-icon.jpeg", class:"card-img-top" %>
        <% end %>
        <div class="card-body px-2 py-3">
          <h5 class="card-title"><%= link_to studio.name, studio_path(studio) %></h5>
          <p class="card-text">
            <% studio.hash_tags.each do |hash_tag| %>
              <%= hash_tag.tag %>
            <% end %>
          </p>
          <small><i class="fas fa-map-marker-alt"></i><cite title="<%= studio.address %>"><%= studio.address %> </small>
          <i class="fas fa-phone"></i> <%= studio.telno %>
          <br />
          <i class="fas fa-globe-europe"></i> <a href="<%= studio.url %>"><%= studio.url %></a>
          <br />
          <i class="far fa-star"></i><%= rating(studio.reviews) %>
        </div><!-- /.card-body -->
      </div><!-- /.card -->
    </div><!-- /.col-sm-6.col-md-3 -->
  <% end %>
  </div><!-- /.row -->
  <%= will_paginate(@studios, class: "pagination justify-content-center", 
                              renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>