<% content_for(:html_title) { 'スタジオ登録' } %>
<div class="container studio-container">
  <h2>新規スタジオ登録</h2>
  <%= render "error_messages" %>
  <div class="row">
    <div class="col-md-8 offset-md-2 col-sm-12" >
  <%= form_for(@studio) do |f| %>
    <div class="form-group">
      <%= f.label "スタジオ名(必須項目)" %>
      <%= f.text_field :name, class: "form-control", placeholder: "例) スタサーチ" %>
    </div>
    <div class="form-group">
      <%= f.label "住所(必須項目)" %>
      <%= f.text_field :address, class: "form-control", placeholder: "例) 〇〇県〇〇市〇〇町1-1-1" %>
    </div>
    <div class="form-group">
      <%= f.label "電話番号(任意項目)" %>
      <%= f.text_field :telno, class: "form-control", placeholder: "例) 000-0000-0000" %>
    </div>
    <div class="form-group">
      <%= f.label "URL(任意項目)" %>
      <%= f.text_field :url, class: "form-control", placeholder: "例) https://sta-search.herokuapp.com/" %>
    </div>
    <div class="form-group">
      <%= f.label "営業時間(任意項目)" %>
      <%= f.text_field :opening_hours, class: "form-control", placeholder: "例)　[平日]24時間営業 [休日]9:00~22:00" %>
    </div>
    <div class="form-group">
      <%= f.label "平日料金/1h(任意項目)" %></br>
      <%= f.select :weekday_fee_id, options_from_collection_for_select(Fee.all, :id, :fee), {include_blank:true}, {class: "form-control"} %>
    </div>

    <div class="form-group">
      <%= f.label "休日料金/1h(任意項目)" %></br>
      <%= f.select :holiday_fee_id, options_from_collection_for_select(Fee.all, :id, :fee), {include_blank:true}, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label "スタジオの画像 (任意項目 未選択の場合はGoogle Placesから自動取得します。)" %></br>
      <%= f.file_field :image %>
    </div>
    <div class="form-group">
      <%= f.label "ハッシュタグ(任意項目)" %></br>
        <%= f.collection_check_boxes :hash_tags, HashTag.all, :id, :tag %>
    </div>
    <div class="text-center">
      <%= f.submit "送信", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
  </div>
</div>

<script>
  var obj = document.getElementById("range");
  function showValue() {
    document.getElementById("value").textContent = option.value;
    
  }
  obj.addEventListener("change", showValue, false);
</script>
