<% content_for(:html_title) { 'スタジオ登録' } %>
<div class="container studio-container">
  <h2>新規スタジオ登録</h2>
  <%= render "error_messages" %>
  <div class="row">
    <div class="col-md-8 offset-md-2 col-sm-12" >
  <%= form_for(@studio) do |f| %>
    <div class="form-group">
      <%= f.label :スタジオ名 %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :住所 %>
      <%= f.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :電話番号 %>
      <%= f.text_field :telno, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "URL" %>
      <%= f.text_field :url, class: "form-control" %>
    </div>
    <%= f.label :営業時間 %>
    <div class="row time-select-group">
      <div class="col-xs-2 time">
        <%= f.time_select :open, {minute_step: 10, default: {hour: '00', minute: '00'}}, class: 'form-control' %>
      </div>
      <p>～</p>
      <div class="col-xs-2">
        <%= f.time_select :close,{minute_step: 10, default: {hour: '00', minute: '00'}}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "備考" %>
      <%= f.text_field :remarks, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "平日料金/1h" %></br>
      <%#= f.range_field :fee, id:"range", class: "custom-range", min:"0", max:"20000", step:"500" %>
      <%= f.select :weekday_fee_id, options_from_collection_for_select(Fee.all, :id, :fee), {include_blank:true}, {class: "form-control"} %>
    </div>

    <div class="form-group">
      <%= f.label "休日料金/1h" %></br>
      <%#= f.range_field :fee, id:"range", class: "custom-range", min:"0", max:"20000", step:"500" %>
      <%= f.select :holiday_fee_id, options_from_collection_for_select(Fee.all, :id, :fee), {include_blank:true}, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :スタジオの画像 %></br>
      <%= f.file_field :image %>
    </div>
    <div class="form-group">
      <%= f.label :ハッシュタグ %></br>
      <div class="form-check form-check-inline">
        <%= f.collection_check_boxes :hash_tags, HashTag.all, :id, :tag %>
      </div>
    </div>
    <div class="text-center">
      <%= f.submit "送信", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
  </div>
</div>

<script>
  var obj = document.getElementById("range");
  function showValue() {
    document.getElementById("value").textContent = option.value;
    
  }
  obj.addEventListener("change", showValue, false);
</script>
