<div class="container new_studio_container">
  <h1>new page</h1>
  <%= form_for(@studio) do |f| %>
    <div class="form-group">
      <%= f.label :スタジオ名 %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :住所 %>
      <%= f.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :エリア名 %>
      <%= f.select :area_id, options_from_collection_for_select(Area.all, :id, :name), {}, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :アイコン画像 %>
      <%= f.file_field :image %>
    </div>
    <%= f.submit "送信", class: "btn btn-primary" %>
  <% end %>
</div>