<div class="container index-container">
  <div class="row">

  <% @studios.each do |studio| %>
    <div class="col-xs-12 col-sm-12 col-md-12 studio-content">
        <div class="well well-sm">
          <h4><%= link_to studio.name, studio_path(studio) %></h4>
            <div class="row studio-name">
                <div class="col-sm-6 col-md-6">
                  <% if studio.image? %>
                    <%= image_tag studio.image.url, class:"img-rounded img-responsive" %>
                  <% else %>
                    <%= image_tag "default-studio-icon.jpeg", class:"img-rounded img-responsive" %>
                  <% end %>
                </div>
                <div class="col-sm-6 col-md-6 studio-body">
                    <p>パラグラフ</p>
                    <small><cite title="San Francisco, USA"><%= studio.address %> <i class="glyphicon glyphicon-map-marker">
                    </i></cite></small>
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i><%= studio.telno %> <!-- ここ電話番号にしたい -->
                        <br />
                        <i class="glyphicon glyphicon-globe"></i><a href="<%= studio.url %>"><%= studio.url %></a> <!-- ここlink_toにする -->
                        <br />
                    <!-- Split button -->
                    <%= if favorited?(user_id: current_user.id.to_i, studio_id: studio.id.to_i) %>
                      <%= form_for(@favorite) do |f| %>
                        <%= f.hidden_field_tag :user_id, current_user.id %>
                        <%= f.hidden_field_tag :studio_id, studio.id %>
                        <%= f.submit "お気に入りから削除", class:"btn btn-primary" %>
                      <% end %>
                    <% else %>
                      <%= form_for(@favorite) do |f| %>
                        <%= hidden_field_tag :studio_id, studio.id %>
                        <%= f.submit "お気に入りへ追加", class:"btn btn-primary" %>
                      <% end %>
                </div>
            </div>
        </div>
    </div>
  <% end %>
</div><!-- /.row -->

  
</div>