<div class="container show-studio-container">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="show-studio-header"><%= @studio.name %> <%= render "favorite_form" %></h3>
              <div class="rate"><i class="fas fa-star"></i><%= rating(@reviews) %></div>

        </div>
        
        <% if @studio.image? %>
          <%= image_tag @studio.image.url, class:"card-img" %>
        <% else %>
          <%= image_tag "default-studio-icon.jpeg", class:"card-img" %>
        <% end %>
        <div class="card-body">
          <p><%= render "hash_tag" %></p>
          <p class="card-text updated_at">最終更新日：<%= @studio.updated_at %></p>
        </div>
      </div><!-- card -->
    </div><!-- col -->
    
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5>店舗情報</h5>
        </div>
        <div class="card-body">
          <table>
            <!--
            <tr align="left">
              <td><i class="fas fa-home"></i> 店舗名</td><td><%= @studio.name %></td>
            </tr>
            -->
            <tr align="left">
              <td><i class="fas fa-map-marker-alt"></i></td><td><%= @studio.address %></td>
            </tr>
            <tr align="left">
              <td><i class="fas fa-location-arrow"></i> </td><td><%= @studio.area.name %></td>
            </tr>
            <tr align="left">
              <td><i class="fas fa-phone"></i></td><td><%= @studio.telno %></td>
            </tr>
            <tr align="left">
              <td><i class="fas fa-globe-europe"></i></td><td><%= @studio.url %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>マップ</h5>
        </div>
        <div class="card-body">
          <div id="map" style='width: 100%; height: 28vh;'></div>
        </div>
      </div>
    </div>
    

  </div><!-- row -->
  

  <div class="row">
    <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        口コミ一覧　<div class="reviews_count">全<%= @reviews.count %>件</div>
      </div>
    <% @reviews.each do |review| %>
    <div class="review row">
      <div class="icon"><%= image_tag "default-user-icon.jpeg" %></div>
      <div class="rate">☆<%=review.rate%></div>
      <div class="review_content"><%= review.review %></div>
    </div>
    <% end %>
    
    <%= link_to "口コミを投稿", new_review_path(studio_id: @studio.id) %>
    </div>
    </div>
  </div>
  

  <a href="<%= edit_studio_path %>">編集画面へ</a> | <%= link_to "削除する", studio_path(@studio), method: :delete %>
</div>


<script type="text/javascript">
  function initMap() {

    var test = {lat: <%= @studio.latitude %>, lng: <%= @studio.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @studio.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
  
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLEMAPS_HTTP_KEY'] %>&callback=initMap">
</script>
