<div class="container show-studio-container">
  <p>最終更新日：<%= @studio.updated_at %></p>
  <h2><%= @studio.name %> <i class="far fa-bookmark"></i></h2>
  
  <% if @studio.image? %>
    <%= image_tag @studio.image.url, class:"img-rounded img-responsive" %>
  <% else %>
    <%= image_tag "default-studio-icon.jpeg", class:"img-rounded img-responsive" %>
  <% end %>
  
  <div class="review-content">
    <% @reviews.each do |review| %>
      <%= review.user.name %>
      <%= review.review %>
    <% end %>
    <%= link_to "口コミを投稿", new_review_path(studio_id: @studio.id) %>
  </div>
  
  <h4>店舗情報</h4>
  <table width="300" align="center">
    <tr align="left">
      <td><i class="fas fa-home"></i> 店舗名</td><td><%= @studio.name %></td>
    </tr>
    <!-- <td>GoogleMapを入れる</td> -->
    <tr align="left">
      <td><i class="fas fa-map-marker-alt"></i> 住所</td><td><%= @studio.address %></td>
    </tr>
    <tr align="left">
      <td><i class="fas fa-location-arrow"></i> エリア</td><td><%= @studio.area.name %></td>
    </tr>
    <tr align="left">
      <td><i class="fas fa-phone"></i> 電話番号</td><td><%= @studio.telno %></td>
    </tr>
    <tr align="left">
      <td><i class="fas fa-globe-europe"></i> ホームページ</td><td><%= @studio.url %></td>
    </tr>
  </table>
  <p><%= render "hash_tag" %></p>
  <a href="<%= edit_studio_path %>">編集画面へ</a> | <%= link_to "削除する", studio_path(@studio), method: :delete %>
</div>