<div class="container show-studio-container">
  <p>最終更新日：<%= @studio.updated_at %></p>
  <h2><%= @studio.name %> 
  <%= render "favorite_form" %> </h2>
  
  <% if @studio.image? %>
    <%= image_tag @studio.image.url, class:"img-rounded img-responsive" %>
  <% else %>
    <%= image_tag "default-studio-icon.jpeg", class:"img-rounded img-responsive" %>
  <% end %>
  
  <div class="review-content">
    <% @reviews.each do |review| %>
      <%= review.user.name %>
      <%= review.review %>
    <% end %>
    <%= link_to "口コミを投稿", new_review_path(studio_id: @studio.id) %>
  </div>
  
  <div style='width: 100%;'>
   <div id="map" style='width: 50%; height: 33vh;'></div>
  </div>
  
  <h4>店舗情報</h4>
  <table width="300" align="center">
    <tr align="left">
      <td><i class="fas fa-home"></i> 店舗名</td><td><%= @studio.name %></td>
    </tr>
    <tr align="left">
      <td><i class="fas fa-map-marker-alt"></i> 住所</td><td><%= @studio.address %></td>
    </tr>
    <tr align="left">
      <td><i class="fas fa-location-arrow"></i> エリア</td><td><%= @studio.area.name %></td>
    </tr>
    <tr align="left">
      <td><i class="fas fa-phone"></i> 電話番号</td><td><%= @studio.telno %></td>
    </tr>
    <tr align="left">
      <td><i class="fas fa-globe-europe"></i> ホームページ</td><td><%= @studio.url %></td>
    </tr>
  </table>
  <p><%= render "hash_tag" %></p>
  <a href="<%= edit_studio_path %>">編集画面へ</a> | <%= link_to "削除する", studio_path(@studio), method: :delete %>
</div>

<style>
#map{
  height: 400px;
}
</style>

<script type="text/javascript">
  function initMap() {

    var test = {lat: <%= @studio.latitude %>, lng: <%= @studio.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @studio.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLEMAPS_HTTP_KEY'] %>&callback=initMap">
</script>
