<!DOCTYPE html>
<html>
  <head>
    <title>StudioApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>"><i class="fas fa-guitar"></i> スタサーチ</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="Navber">
          <ul class="navbar-nav mr-auto">
            
          </ul>
          <ul class="navbar-nav">
            
            <%= search_form_for(@q, html: { class: 'form-inline my-2 my-lg-0' }, url:search_path) do |f| %>
                <%= f.search_field :name_or_address_cont, class:"form-control", placeholder:"検索..." %>
                <%= f.submit "検索", class:"btn btn-outline-success my-2 my-sm-0" %>
            <% end %>
            
            <% if logged_in? %>
              <li class="nav-item active">
                <%= link_to "スタジオを投稿する", new_studio_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ユーザートップ", user_path(current_user), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item active">
                <%= link_to "新規登録", new_user_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", login_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <div class="container">
      <%= render 'shared/flash' %>
    </div>
      <%= yield %>  
  </body>
</html>